<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <!-- Menú existente -->
    </ul>
    @await Html.PartialAsync("_LoginPartial")
    @await Html.PartialAsync("_AdminActionsPartial")
</div>
