


<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <!-- Menú existente -->
    </ul>
    @await Html.PartialAsync("_LoginPartial")
    @await Html.PartialAsync("_AdminActionsPartial")

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>


    @RenderSection("Scripts", required: false)

</div>
